<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message</title>
</head>
<body>
    <div>
        <form onsubmit="document.getElementById('username').value = localStorage.getItem('username')" 
        action="/send" method="post">
            <label for="message">Type your message</label>
            <input id="username" type="hidden" name="username">
            <input type="text" name="message" id="msg">
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>